.input-container {
  display: flex;
  gap: 0.5rem;
  border: 1px solid var(--inactive-color);
  border-radius: var(--radius);
  width: 100%;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: var(--pure-white);
}

.input-container:focus-within {
  border-color: var(--primary-color);
}

.input-container input {
  flex: 1;
}

.input-container input[type="text"],
.input-container input[type="password"],
.input-container input[type="email"] {
  border: none;
  margin: 0;
  padding: 0;
}
