.playlist-menu.modal-container .modal {
  width: 16rem;
}

.playlist-menu.modal-container li:hover {
  background-color: var(--background-color);
}

.playlist-menu.modal-container #add-playlist:hover,
.playlist-menu.modal-container li input:hover {
  cursor: pointer;
}
