.navbar {
  background-color: var(--secondary-color);
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar a {
  text-decoration: none;
}

.nav-logo img {
  height: 2rem;
  width: 2rem;
}

.nav-heading {
  font-family: var(--title-font-family);
  color: var(--text-color);
}

.nav-heading span {
  color: var(--primary-color);
}

.nav-actions {
  color: var(--secondary-color);
  align-items: center;
  font-size: 0.75rem;
}

.navbar .input-wrapper {
  align-self: center;
}

.navbar .input-container {
  border-radius: 1rem;
}

.navbar #search-bar {
  width: 30%;
}

.navbar #search-bar input {
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .navbar #search-bar {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: inherit;
    padding: 0 0.5rem;
  }

  .navbar .search-results {
    width: 100%;
    margin-right: 0.5rem;
  }

  main {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar .nav-action-item:not(:last-child) {
    display: none;
  }
  .navbar #hamburger {
    display: block;
  }
}
