.search-results {
  position: absolute;
  background-color: var(--pure-white);
  max-height: 10rem;
  overflow-y: scroll;
  color: var(--secondary-color);
  width: 100%;
  border-radius: var(--radius);
}
